.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.side-panel {
	background-color: darkgrey;
}
.posts {
	background-color: lightgrey;
}
html, body {
	height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: 15% 75% 10%;
}
.grid {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header {
	background-color: darkgrey;
}
.footer {
	background-color: darkgrey;
}
.content {
	background-color: lightgrey;
}